@import '../../styles//constants.scss';
@import '../../styles/placeholders.scss';
@import '../../styles/mixins.scss';

.textbook__wrapper {
  padding-top: 40px;
}

.textbook__units {
  flex-basis: 100%;
  display: flex;
}

.textbook__words {
  margin-bottom: 30px;
}

.textbook__pagination {
  flex-grow: 1;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: $color-bg-light;
  box-shadow: $shaddow-word-card;
}
