@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';
@import '../../styles/placeholders.scss';

.audio-challenge__button {
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px,
    rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
  transition: 0.3s;
  font-size: 16px;
}

.audio-challenge__button:hover {
  background-color: $color-bg-light;
  transition: 0.3s;
}

.audio-challenge__play-button {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  align-items: center;
  vertical-align: middle;
}

.play-button__image {
  width: 100px;
  height: 100px;
  filter: invert(65%) sepia(26%) saturate(317%) hue-rotate(137deg)
    brightness(90%) contrast(90%);
}

.audio-challenge__words-list {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  width: 60%;
  margin: 40px 0px;

  @include media-tablet() {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 40px -15px -15px;
  }

  @include media-mobile-small() {
    margin: 40px 0 0;
  }
}

.words-list__item {
  display: inline;
  white-space: nowrap;

  @include media-tablet() {
    margin: 0 15px 15px;
  }

  @include media-mobile-small() {
    width: 100%;
    margin: 0 0 15px;
  }
}

.words-list__variant-button {
  padding: 10px;
  border-radius: 10px;

  @include media-tablet-small() {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.variant-button__number {
  display: inline-block;
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
  padding: 0 5px;
  background-color: $color-unit-4;
}

.question-wrapper {
  @include media-tablet-small() {
    text-align: center;
  }
}
