@import '../../styles/constants.scss';

.textbook__nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 50px;
}

.textbook__game-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 50px;
}

.game-link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-radius: 10px;
  padding: 5px 20px;
  box-shadow: $shaddow-light;
}

.link__icon {
  width: 46px;
  height: 46px;
  background-size: cover;
}

.link__text {
  font-size: 30px;
}

.sprint-link {
  .link__icon {
    background-image: url('../../assets/icons/sprint.svg');
  }
}
.audio-challenge-link {
  .link__icon {
    background-image: url('../../assets/icons/audio-challange.svg');
  }
}
