@import '../../styles/constants.scss';
@import '../../styles/placeholders.scss';

.nav-menu {
  &__list {
    padding: 0px 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 50px;
    border-radius: 10px;
    box-shadow: $shaddow-light;
  }

  &__link {
    font-size: 30px;
    line-height: 52px;
    font-weight: 500;
    @extend %transition;

    &.active {
      color: $color-main;
    }
  }
}
