.nav-menu {
  &__list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__item {
    &::marker {
      content: none;
    }
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__link {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
    font-size: 24px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &.active {
      color: rgb(112, 76, 182);
    }
  }
}
