@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

/*
* I think, we needn't to replace this @mixin to mixins.scss
* because it is using only in Header
*/
@mixin margin-right() {
  margin-right: 60px;

  @include media-max-1439() {
    margin-right: 30px;
  }

  @include media-tablet() {
    margin-right: 0;
  }
}

.header {
  padding: 15px 0;
  width: 100%;
  background-color: $color-font-light;
  position: relative;
  z-index: 1;

  @include media-tablet() {
    padding: 10px 0;
    box-shadow: $shaddow-light;
  }

  &__logo {
    @include margin-right();
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    flex-grow: 1;
    max-width: 850px;
    @include margin-right();

    @include media-tablet() {
      max-width: unset;
    }
  }
}
