@import '../../styles/constants.scss';

.login-btn {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn__icon {
  width: 46px;
  height: 46px;
  margin-left: 10px;
  background-image: url('../../assets/icons/login.png');
  background-size: cover;
}

.logout-btn__icon {
  width: 46px;
  height: 46px;
  margin-left: 10px;
  background-image: url('../../assets/icons/logout.png');
  background-size: cover;
}
